<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Minesweeper</Name>
    <Version>1.0.0</Version>
    <Title>Minesweeper Installer</Title>
    <Publisher>Jianwei Sun</Publisher>
    <StartMenuDir>Minesweeper</StartMenuDir>
    <TargetDir>@ApplicationsDirX86@/Minesweeper</TargetDir>
</Installer>